<h1>Upload a new photo</h1>

<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@picture.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @picture, url: pictures_path, html: { multipart: true } do |f| %>
	<div class="field_with_errors">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field_with_errors">
		<%= f.file_field :path %>
	</div>

	<div>
		<h2>Add tags</h2>
		<%= f.fields_for :tags, Tag.new do |tag| %>
			<div>
				<%= tag.text_field :name %>
				<%= tag.label 'seperate each tag with a comma' %>
			</div>
		<% end %>
	</div>
	<div>
		<%= f.submit 'Upload' %>
	</div>
<%end%>