<h1>Upload a new photo</h1>

<%= form_for @picture, url: pictures_path, html: { multipart: true } do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.file_field :path %>
	</div>

	<div>
		<h2>Add tags</h2>
		<%= f.fields_for :tags, Tag.new do |tag| %>
			<div>
				<%= tag.text_field :name %>
				<%= tag.label 'seperate each tag with a comma' %>
			</div>
		<% end %>
	</div>
	<div>
		<%= f.submit 'Upload' %>
	</div>
<%end%>