<h1><%= @picture.title %></h1>

<%= link_to (image_tag @picture.path.url(:medium)), asset_path(@picture.path.url) %>

<h2>Tags</h2>
<% @picture.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag) %>			
<% end %>

<h3><%= render 'comment_header' %></h3>
<%= render 'comments/form' if current_user %>

<h3>Comments</h3>

<%= render 'comments/show' %>