	<p><%= link_to "Home", root_path %></p>
	<p><%= link_to "Sign in", new_user_session_path unless current_user %></p>
	<p><%= link_to "Sign up", new_user_registration_path unless current_user %></p>
	<p><%= link_to current_user.name, user_path(current_user) if current_user %></p>
	<p><%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %></p>
